@import url(https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap);

:root {
    /* ### Primary */

    --dark-cyan: hsl(185, 75%, 39%);
    --very-dark-desaturated-blue: hsl(229, 23%, 23%);
    --dark-grayish-blue: hsl(227, 10%, 46%);

    /* ### Neutral */

    --dark-gray: hsl(0, 0%, 59%);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--dark-cyan);
    font-family: "Kumbh Sans", sans-serif;
    font-size: 18px;
    overflow: hidden;
}

.container {
    max-width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
}

.card-bg-img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100%;
}

.card-container {
    width: 400px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0px 30px 50px rgba(34, 34, 34, 0.3);
}

.profile-pic {
    position: relative;
    width: 27%;
    border: 5px solid white;
    border-radius: 50%;
    z-index: 1;
    bottom: 14px;
}

.card-body-content {
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 75px;
}

h1 {
    padding-top: 5px;
    font-size: 20px;
    font-weight: 700;
}

h1 span {
    color: var(--dark-gray);
    font-weight: 400;
    margin-left: 5px;
}

p {
    color: var(--dark-gray);
    font-weight: 400;
    font-size: 15px;
    padding-top: 10px;
}

hr {
    color: var(--dark-gray);
    opacity: 30%;
}

.stats-box {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 20px;
}

.stat {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--dark-gray);
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 1px;
}

.stat span {
    font-weight: 700;
    font-size: 20px;
    color: black;
    padding-bottom: 5px;
}

.bg-top {
    position: absolute;
    top: -50%;
    left: -1%;
    z-index: -1;
}

.bg-btm {
    position: absolute;
    bottom: -50%;
    right: -4%;
    z-index: -1;
}

.attribution {
    font-size: 15px;
    text-align: center;
}

.attribution a {
    color: white;
}

@media (max-width: 375px) {
    body {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .container {
        max-width: 330px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: 20px;
    }

    .profile-pic {
        width: 30%;
        bottom: 0px;
    }

    .card-body-content {
        height: 120px;
    }

    .bg-top {
        width: 150%;
        position: absolute;
        top: -25%;
        left: -95%;
        z-index: -1;
    }
    
    .bg-btm {
        width: 150%;
        position: absolute;
        top: 55%;
        left: 40%;
        z-index: -1;
    }

    .attribution {
        font-size: 12px;
        text-align: center;
    }
}